
{% extends "base.html" %}
{% block title %}LMS{% endblock %}


{% block title %}LMS{% endblock %}


{% block content %}


<h1>Welcome to Library Management System</h1>
<p>Click here to view catalogues.</p>
<h2><a href="{% url 'catalogue' %}">Catalogue yo</a></h2>
{% if perms.book.add_borrowList %}
<h2><a href="{% url 'borrowList' %}">People be sowin yo</a></h2>
{% endif %}


{% comment %} <a href="{% url 'catalogues' %}" class="btn btn-primary">View Catalogues</a> {% endcomment %}
{% endblock %}